@using X.PagedList.Mvc.Core



@*@model IEnumerable<Club>*@


@model X.PagedList.IPagedList<Club>

@{
    ViewData["Title"] = "Squad";
}

@*<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>

<hr />

<a class="btn btn-primary" asp-action="Create">
    <i class="bi bi-plus"></i>Add Movie
</a>

<div class="text-center mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No movies found!
        </div>
    }
    else
    {
        <ul>
            @foreach(var club in Model)
            {
                <li>@club.Name</li>
            }
        </ul>
    }
    </div>*@


<div class="container-xxl flex-grow-1 container-p-y ">

    <div class="mt-0 mb-4">
        <button type="submit" class="btn btn-primary " onclick="location.href='@Url.Action("Create", "Clubs")'">
            <i class='bx bx-message-square-add'></i>
            Add New Club
        </button>
    </div>

    <!-- Horizontal -->
    <h5 class="pb-1 mb-4">Horizontal</h5>

    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No movies found!
        </div>
    }
    else
    {
        @foreach (var club in Model)
        {

            <div class="row mb-5">
                <div class="col-md">
                    <div class="card mb-3">
                        <div class="row g-0 ">
                            <div class="col-md-4  myposter" style="background-image: url(data:image\/*;base64,@(Convert.ToBase64String(club.Logo)))"></div>
                            @*<img class="card-img card-img-left" src="../assets/img/elements/12.jpg" alt="Card image" />*@

                            <div class="col-md-8">
                                <div class="card-body">

                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mt-2">@club.Name - @club.Year</h5>
                                        <!-- Icon Dropdown -->

                                        <div>
                                            <div class="btn-group mt-0">
                                                <button type="button"
                                                class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">

                                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("Details", "Clubs",new { id = club.Id })'" href="javascript:void(0);">Details</a></li>
                                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("Edit", "Clubs",new { id = club.Id })'" href="javascript:void(0);">Edit</a></li>
                                                    <li><a class="dropdown-item js-delete" href="javascript:void(0);" data-id="@club.Id">Delete</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider" />
                                                    </li>
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@club.Id" class="dropdown-item">
                                                            <i class="bi bi-pencil"></i>
                                                            Edit
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!--/ Icon Dropdown -->
                                    </div>

                                    <p class="card-text mb-0 mt-4">
                                        @(club.Titles.Length > 500 ? $"{club.Titles.Substring(0, 500)}..." : club.Titles)
                                    </p>

                                    @*<p class="card-text mb-0 mt-2"><small class="text-muted"><i class='bx bxs-star'></i>@club.Rate</small></p>*@
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text mb-0 mt-2">
                                            <i class='bx bxs-star'></i>
                                            <small class="text-muted">@club.Rate.ToString("0.0")</small>
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--/ Horizontal -->
        }
    }

    <div>
        <nav>
            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
            LinkToNextPageFormat = "Next",
            LinkToPreviousPageFormat = "Previous",
            MaximumPageNumbersToDisplay = 5,
            DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
            DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always
            })
        </nav>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function() {
            $('.js-delete').on('click', function() {
                var btn = $(this);
                var result = confirm('Are U Sure u want delete this item');

                if (result) {
                    $.ajax({
                        url: '/Clubs/delete/' + btn.data('id'),
                        success: function() {
                            btn.parents('.col-md').fadeOut();
                            toastr.success('Movies deleted');
                        },
                        error: function() {
                            console.log("errorsssss");
                        }
                    });
                }
            });
        });
    </script>
}